<h3>Review results from last run {{ date }}</h3>
<p>Here you can review the results from the last run of the checklist. Checks are not always perfectly correct in their procedure and result. You can keep a check from running by clicking the 'Skip' link beside it. You can run the checklist again by expanding the fieldset above.</p>
<table class="system-status-report">
    <thead>
    <tr class="visually-hidden">
        <th>{{ 'Status'|t }}</th><th>{{ 'Component'|t }}</th><th>{{ 'Details'|t }}</th>
    </tr>
    </thead>
    <tbody>
    {% for check in checks %}
        <tr class="system-status-report__entry color-{{ check.result }}">
            <td class="system-status-report__status-title">{{ check.message }}</td>
            <td><a href="{{ check.help_url }}">Details</a></td>
            <td><a href="#">Skip</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
